

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    
  }
 

/* navbar starts */
.navbar{
  position: fixed; /* Fixe la navbar */
  top: 0;         /* Positionne en haut de la page */
  left: 0;        /* Aligne à gauche */
  width: 100%;    /* Prend toute la largeur */
  background-color: #0d0d94; /* Couleur de fond */
  color: white;   /* Couleur du texte */
  padding: 10px 0; /* Espacement interne */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère en dessous */
  z-index: 1000; /* Assure que la navbar est au-dessus du contenu */
  margin-bottom: 15px;

}
.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  
}
.navbar .navbar-nav .nav-link:hover{
  color: #ffd900;
}
.sm-icons {
  display: flex;
flex-direction: row;
margin-right: 30px;
}



.loader {
  width: fit-content;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: #0000;
  margin-left: 25px;
  background: linear-gradient(90deg,#ffd900 calc(50% + 0.5ch),white 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
          background-clip: text;
  animation: l7 2s infinite steps(11);
 
}
.loader:before {
  content:"Aïcha BENJDIR"
}
@keyframes l7 {to{background-position: left}}
@media only screen and (max-width: 960px) {
.sm-icons .nav-item {
  padding-right: 1em;
}
}

/* /navbar  */


  
.header-section {
  display: flex;
  /* margin-top: 100px; */
  align-items: center;
  justify-content: space-between;
  padding: 55px;
 
  margin-top: 0; /* Réduit l'espace au-dessus du header */
margin:50px auto ;

  
}


.left-section img {
  max-width: 20%; 
  margin: 45px; 
}

.rounded-circle {
  width: 50%; 
  height: 50%; 
  object-fit: cover; /* Assure que l'image couvre le cercle sans déformation */
  border-radius: 50%; 
}


.right-section {
  width: 60%;
  padding-left: 20px;
}

.left-section {
  width: 50%; 
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.left-section img {
  max-width: 100%; 
  height: auto;
  margin: 0; 
}


.main-text h1 {
  font-size: 46px;
  line-height: 1.2;
  color: white;
  margin-bottom: 10px;
  font-family: monospace;
}
/* HTML: <div class="loader"></div> */
.dev {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 35px;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg,currentColor 0 8%,#0000 0 10%) 200% 100%/200% 3px no-repeat;
  animation: l3 2s steps(6) infinite;
  color: #ffd900;
}
.dev:before {
  content:"Développeuse FullStack"
  
}

@keyframes l3 {to{background-position: 80% 100%}}
.paragraph p {
  font-size: 20px;
  color: white;
  margin-bottom: 35px;
  padding: 10px;

 
}

.contact-button a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffd900;
  color: #0d0d94;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .header-section {
      flex-direction: column;
  }

  .left-section,
  .right-section {
      width: 100%;
  }

  .right-section {
      padding: 0;
      text-align: center;
  }
}



.skills {
 /* Arrière-plan bleu */
  color: #0d0d94; 
  padding: 50px 0; 
 
}
.skills .heading {
  text-align: center; 
  margin-bottom: 30px; 
  font-size: 2rem; 
}
.skills .heading span {
  color: #ffd900; 
}
.skills .bar {
  margin-bottom: 20px; 
}
.skills .info {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #0d0d94; 
  padding: 15px; 
  border-radius: 8px;
}
.skills .info img {
  margin-right: 10px; 
}
.skills .info span {
  font-size: 1.2rem; 
  color: white;
}






/* projets */
.work {
    /* background: #010124; */
    background: linear-gradient(to bottom, #0d0d94, #0d0d94);
  }
  .work h2 {
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .work .heading span {
    color: #ffd900;
    
  }
  .work .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
  }
  .work .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem #0d0d94;
    position: relative;
    overflow: hidden;
    height: 30rem;
  }
  .work .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .work .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
  }
  .work .box-container .box .content .tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    padding-left: 1rem;
    background: #ffd900;
  }
  .work .box-container .box .content .tag h3 {
    font-size: 2rem;
    color: #0d0d94;
  }
  .work .box-container .box:hover .content {
    top: 35%;
  }
  .work .desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .work .desc p {
    font-size: 1.5rem;
    color: #0d0d94;
  }
  .work .desc .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }
  .work .desc .btns .btn {
    line-height: 0;
    display: inline;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: #0d0d94;
    background: #ffd900;
    margin-right: 2rem;
   
  }
  
  .work .viewall {
    display: flex;
    justify-content: center;
  }
  .work .viewall .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
    text-align: center;
  }
  .work .viewall .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .work .viewall .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .work .viewall .btn:hover {
    background: #fff;
    color: #0d0d94;
  }
  .work .viewall .btn:hover i {
    transform: translateX(5px);
  }
  /* /work  */




/* Section Contact */

.contact {
  padding: 40px 0;
  background-color: #f8f9fa; /* Couleur de fond légère */
  color: #0d0d94;
 
}

.section_title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-right: 150px;
}
.section_title span{
  color: #ffd900;
}

.section_subtitle {
  font-weight: bold;
 text-align: center;
 margin-right: 175px;
}

.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les éléments */
  margin-bottom: 40px;
}

.contact_information {
  display: flex;
  align-items: center;
  background-color: white; /* Fond blanc pour chaque bloc */
  border-radius: 10px;
  box-shadow: 0 4px 8px #0d0d94; /* Ombre légère */
  padding: 15px;
  width: 100%;
  max-width: 450px; /* Largeur maximale */
  margin: 10px;
 margin-left: px;
 
}


.contact_icon {
  font-size: 2rem;
  margin-right: 15px;
  color: #0d0d94; /* Couleur bleue pour les icônes */
}


.contact_title {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.contact_info {
  font-size: 1rem;
  color: #0d0d94; /* Couleur du texte */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0d0d94; /* Bordure légère */
}

.form-group .btn{
  font-weight: bold;
  background: #ffd900;
  color: #0d0d94;
  
 
}


/* footer */
.footer {
    min-height: auto;
    padding-top: 0;
    background: #0d0d94;
    
  }
  
  .footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #fff;
    border-top: 0.1rem solid #fff3;
  }
  .footer .credit a {
    color: #ffd900;
  }
  .footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
  }
  
  



  